
@{
    ViewBag.Title = "Hướng Dẫn Đặt Vé";
}
<div class="banner-bottom">
    <!-- container -->
    <div class="container">
        <div class="about-info">
            <h2>@ViewBag.Message Trên @ViewBag.Website</h2>
        </div>
        <div class="faqs-top-grids">
            <div class="blog-grids">
                <div class="col-md-8 blog-left">
                    <div class="blog-left-grid">
                        <a><img src="~/Content/images/step1.png" alt=""></a>
                        <div class="blog-left-right">
                            <h4>Bước 1</h4>
                            <a>@Html.ActionLink("Truy cập vào địa chỉ www.busonlineticket.com", "Index", "Home")</a>
                        </div>
                    </div>
                    <div class="blog-left-grid">
                        <a><img src="~/Content/images/step2.png" alt="" style="width: 558px;height: 128px;"></a>
                        <div class="blog-left-right">
                            <h4>Bước 2</h4>
                            <p>Chọn thông tin hành trình</p>
                        </div>
                        <a><img src="~/Content/images/step2.2.png" alt="" style="width: 558px;height: 128px;"></a>
                        <div class="blog-left-right">
                            <p>Hoặc hành khách có thể xem các tuyến đường phổ biến BOT bên dưới.</p>
                        </div>
                        <a><img src="~/Content/images/step2.3.png" alt="" style="width: 558px;height: 128px;"></a>
                        <div class="blog-left-right">
                            <p>Quý khách có thể xem thông tin chuyến đi, điểm đoán và trung chuyển ở mục bên phải khung đặt vé</p>
                        </div>
                        <a><img src="~/Content/images/step2.4.png" alt="" style="width: 598px;height: 128px;"></a>
                        <div class="blog-left-right">
                            <ul>
                                <li>Chọn điểm khởi hành</li>
                                <li>Chọn điểm đến</li>
                            </ul>
                            <p>
                                <a href="#">Ví dụ</a> &nbsp;&nbsp; Hành khách muốn đi từ TP.HCM đến Nha Trang thì chọn điểm khởi hành
                                là TP. Hồ Chí Minh và điểm đến là Nha Trang.
                            </p>
                            <a><img src="~/Content/images/step2.5.png" alt="" style="width: 558px;height: 128px;"></a>
                            <ul>
                                <li>Chọn ngày khởi hành</li>
                            </ul>
                            <a><img src="~/Content/images/step3.1.png" alt="" style="width: 558px;height: 128px;"></a>
                            <ul>
                                <li>Chọn số lượng vé</li>
                            </ul>
                            <a><img src="~/Content/images/step3.2.png" alt="" style="width: 558px;height: 128px;"></a>
                            <ul>
                                <li>Bấm vào nút <a href="#">Tiếp tục</a> (hoặc <a href="#">Mua Vé</a> nếu đang ở trang chủ)</li>
                            </ul>
                            <a><img src="~/Content/images/step3.3.png" alt="" style="width: 558px;height: 128px;"></a>
                            <p>
                                Quý hành khách điền thông tin họ tên, email và số di động. Vui lòng đọc kĩ và bấm vào mục chấp
                                nhận các điều khoản sử dụng và lưu ý trước khi <a href="#">Tiếp tục</a>
                            </p>
                            <a><img src="~/Content/images/step3.4.png" alt="" style="width: 528px;height: 248px;"></a>
                        </div>
                    </div>
                    <div class="blog-left-grid">
                        <a><img src="~/Content/images/step3.5.png" alt="" style="width: 558px;height: 128px;"></a>
                        <div class="blog-left-right">
                            <h4>Bước 3</h4>
                            <p>Chọn thông tin chuyến, giờ chạy, điểm lên xe và thông tin ghế</p>
                        </div>
                        <div class="blog-left-right">
                            <a><img src="~/Content/images/step3.6.png" alt="" style="width: 558px;height: 248px;"></a>
                            <ul>
                                <li><strong>Chọn tuyến xe:</strong> Vui lòng bấm xe nếu có nhiều hơn một tuyến.</li>
                                <li><strong>Chọn giờ khởi hành</strong></li>
                                <li><strong>Chọn điểm lên xe.</strong></li>
                                <li><strong>Chọn ghế:</strong> Bằng cách bấm vào biểu tượng ghế.</li>
                                <li>
                                    Hành khách xem các thông tin về hành trình, điểm xuất phát, điểm đến và thời gian
                                    khởi hành cũng như thời gian đến ở mục bến phải.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-left-grid">
                        <a><img src="~/Content/images/step4.png" alt="" style="width: 558px;height: 128px;"></a>
                        <div class="blog-left-right">
                            <h4>Bước 4</h4>
                            <p>Chọn thông tin thẻ thanh toán</p>
                        </div>
                        <div class="blog-left-right">
                            <a><img src="~/Content/images/step4.2.png" alt="" style="width: 598px;height: 298px;"></a>
                            <p><strong>Hành khách chọn loại thẻ thanh toán</strong></p>
                            <ul>
                                <li>Thanh toán bằng thẻ quốc tế: <strong>Visa, Mastercard, JCB</strong></li>
                                <li>Thanh toán bằng thẻ nội địa của các ngân hàng có logo bên dưới.</li>
                                <li>Thanh toán chuyển khoản</li>
                            </ul>
                            <p>Xem lại thông tin đặt vé ở mục bên phải sau đó bấm nút <strong>"Thực hiện thanh toán"</strong></p>
                        </div>
                    </div>
                </div>
                <div class="blog-left-grid">
                    <a><img src="~/Content/images/step5.png" alt="" style="width: 558px;height: 128px;"></a>
                    <div class="blog-left-right">
                        <h4>Bước 5</h4>
                        <p>Điền thông tin thẻ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

