@{
    ViewBag.Title = "Lịch Trình";
}
<div class="banner-bottom">
    <div class="container">
        <div class="banner-bottom-info">
            <h2>@ViewBag.Title.</h2>
        </div>
        <div class="banner-bottom-grids">
            <div class="col-md-4 banner-bottom-grid">
                <h3>@ViewBag.Message</h3>
            </div>
        </div>
    </div>
</div>
